<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>addReportServlet</servlet-name>
        <servlet-class>ru.andrey.caraccidentreport.httpmanager.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addReportServlet</servlet-name>
        <url-pattern>/addreport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getAccidentDataServlet</servlet-name>
        <servlet-class>ru.andrey.caraccidentreport.httpmanager.PersonsAccidentsServlet</servlet-class>
        <init-param>
            <param-name>alternativeFullNameInput</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAccidentDataServlet</servlet-name>
        <url-pattern>/getaccidentdata</url-pattern>
    </servlet-mapping>
</web-app>
